.play {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.play .view {
    height: calc(100vh - 124px);
}

.play .path {
    pointer-events: none;
}

.play .path .selectwindow {
    pointer-events: auto;
}