.dialog-wrapper {
    width: 100%;
    max-width: 1512px;
    height: 0;
    bottom: 0;
    position: absolute;
    display: flex;
    align-items: flex-end;
    margin-bottom: 40px;
}

.dialog {
    display: flex;
    flex-direction: column;
    width: 724px;
    padding: 26px 0px 26px 48px;
    border-radius: 12px;
    border: 5px solid var(--primary-3);
    background: var(--primary-2);
    gap: 10px;
    z-index: 1;
    margin: 0 auto;
    margin-left: 20%;
}

.dialog h2,
.dialog p {
    max-width: 555px;
}

.dialog h2 {
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
}

.dialog p {
    font-size: 20px;
    line-height: 32px;
}