.loader {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader .logo {
    width: 1132.65px;
    height: 523px;
    position: absolute;
    top: calc(50% - 261.5px);
    left: calc(50% - 566.325px);
    animation: moveLogo;
    animation-delay: 2s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.loader p {
    max-width: 974px;
    font-size: 160px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -6.4px;
    opacity: 0;
    animation: showTitle;
    animation-delay: 4s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes moveLogo {
    from {
        top: calc(50% - 261.5px);
        left: calc(50% - 566.325px);
    }
    to {
        width: 394px;
        height: 181.929px;
        top: 60px;
        left: 0;
    }
}

@keyframes showTitle {
    form {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}