.selectwindow {
    width: 594px;
    height: 100%;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    background: linear-gradient(341deg, rgba(30, 78, 78, 0.40) 0%, rgba(31, 36, 49, 0.40) 100%), rgba(31, 36, 49, 0.40);
    backdrop-filter: blur(4px);
}

.selectwindow button.disabled {
    cursor: default;
}

.selectwindow .info {
    align-self: flex-end;
    background-color: transparent;
    border: none;
    cursor: pointer;
}  

.selectwindow .choice-image {
    max-height: 260px;
}

.selectwindow .footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 39px;
    margin-bottom: 25px;
}

.selectwindow .footer .left {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.selectwindow .footer .choice-title {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.selectwindow .footer .choice-price {
    display: flex;
    gap: 7.15px;
    color: var(--primary-3);
    font-size: 20px;
    line-height: normal;
}

.selectwindow .footer .button {
    margin-top: 19px;
    width: 184px;
    height: 60px;
    border-radius: 12px;
}