:root {
    --white: #ffffff;
    --black: #000000;
    --primary-1: #141B25;
    --primary-2: #1F2431;
    --primary-3: #89E159;
    --hover-1: #1E4E4E;
    --hover-2: #F68561;
    --text-1: #DBE2F9;
    --text-2: #BFC6DC;
    --text-3: #8990A5;
}

.blur {
    filter: blur(6px);
}

.hidden {
    display: none;
}

.button {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.717px;
    font-weight: 500;
    color: var(--primary-2);
    border: none;
    border-radius: 4.5px;
    width: 129px;
    height: 43px;
    text-transform: uppercase;
    background-color: var(--primary-3);
    cursor: pointer;
}

body {
    background-color: var(--primary-1);
    color: var(--text-1);
}

.App {
    max-width: 1512px;
    margin: 0 auto;
}